/* FORMS
-------------------------------------------- */
.form-control {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $gray-dark;
    background-color: $input-bg;
    background-image: none;
    background-clip: padding-box;
    box-shadow: none;
    border: $input-btn-border-width solid $input-border-color;

    @if $enable-rounded {
        border-radius: $input-border-radius;
    }
    @else {
        border-radius: 0;
    }

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    @include form-control-focus();

    &::placeholder {
        // color: $input-color-placeholder;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.35);
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: $input-bg-disabled;
        opacity: 1;
    }

    &:disabled {
        cursor: $cursor-disabled;
    }
}

select.form-control {
    &:not([size]):not([multiple]) {
        $select-border-width: ($border-width * 2);
        height: auto;
    }
    &:focus::-ms-value {
        color: $input-color;
        background-color: $input-bg;
    }
}

.form-control-file,
.form-control-range {
    display: block;
}

.form-group {
    margin-bottom: $form-group-margin-bottom;
    position: relative;

    label {
        font-size: 12px;
        color: $gray-light;
        letter-spacing: 0.4px;

        abbr {
            color: $invalid;
        }
    }

    textarea {
        resize: none;
        height: 100px;
    }

    select.form-control {
        appearance: none;
    }

    input[type="password"],
    select.form-control {
        padding-right: 2rem;
    }

    .date-format-wrapper {
        @extend .clearfix;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 1px solid rgba(0, 0, 0, 0.35);

        > * {
            display: inline-block;
        }

        > span {
            color: $gray-dark;
        }

        > input {
            border: none;
            padding-left: 0;
            padding-right: 0;
            width: auto;
            text-align: center;
            max-width: 30px;

            &:last-child {
                max-width: 45px;
            }
        }
    }

    .switch-type,
    .icon-down-open-mini {
        position: absolute;
        right: 7px;
        top: 39px;

        
        font-size: 14px;
        
        color: $gray-light;
    }

    .switch-type {
        cursor: pointer;

        &.typeChanged {
            color: #999;
            text-decoration: line-through #000;
        }
    }

    .icon-down-open-mini {
        pointer-events: none;
    }

    .validate-msg {
        color: $invalid;
        font-style: italic;
        letter-spacing: 0.4px;
        margin: 3px 0 0;
        display: none;
    }

    &.is-invalid {
        .form-control,
        .date-format-wrapper {
            border-color: $invalid;

            &.is-valid {
                border-color: #000;
            }
        }

        .validate-msg {
            display: block;
        }
    }

    &.is-valid {
        .form-control,
        .date-format-wrapper {
            border-color: #000;
        }
    }
}

.styled-checkbox,
.styled-radio {
    input {
        display: none;
    }

    label {
        font-size: 14px;
        color: $gray-dark;
        display: block;
        cursor: pointer;
        position: relative;
        margin-bottom: 0;
        padding-left: 24px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
            background: #fff;
            border: 1px solid $gray-dark;
        }

        &.has-lead {
            > p {
                font-size: 1.2rem;
                line-height: 1.2;
                margin-bottom: 0;
            }

            > span {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.styled-checkbox {
    input {
        &:checked + label i {
            display: block;
        }

        &:checked + label:before {
            background-color: $gray-dark;
        }
    }

    i {
        display: none;
        font-size: 10px;
        color: #fff;
        position: absolute;
        left: 4px;
        top: 6px;

        &:before {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.styled-radio {
    input {
        &:checked + label:after {
            background-color: $gray-dark;
        }
    }

    label {
        &:before,
        &:after {
            border-radius: 50%;
        }

        &:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 6px;
            width: 10px;
            height: 10px;
            background: #fff;
        }
    }
}