#work-list {
	background-color: #f9f9f9;

	.works-row {
		@extend .row;

		.works-col {
			@extend .col-md-6;
			@extend .col-lg-4;
			padding-top: 10px;
			padding-bottom: 10px;

			.work-item {
				.work-image {
					a {
						overflow: hidden;

						.overlay-grd {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: rgb(0,0,0);
							background: linear-gradient(15deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%);
						}

						.work-info {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							padding: 1rem;
							color: #fff;

							.work-label {
								font-size: 10px;

								span {
									padding: 4px 8px 4px 10px;
									margin-right: 5px;
									line-height: 1;
									// border: 1px solid rgba(255,255,255,0.5);
									background-color: #fff;
									color: #000;
									border-radius: 20px;
									text-transform: uppercase;
									letter-spacing: 1px;
									display: inline-block;
								}
							}

							.work-excerpt {
								line-height: 1.4;
							}
						}
					}
				}
			}
		}
	}
}