// Utilities
@import "../mixins/breakpoints.scss";
@import "../mixins/hover.scss";
@import "../mixins/image.scss";
@import "../mixins/resize.scss";
@import "../mixins/size.scss";
@import "../mixins/reset-text.scss";
@import "../mixins/text-emphasis.scss";
@import "../mixins/text-hide.scss";
@import "../mixins/text-truncate.scss";
@import "../mixins/transforms.scss";
@import "../mixins/visibility.scss";

// // Components
@import "../mixins/forms.scss";
@import "../mixins/table-row.scss";

// // Skins
@import "../mixins/border-radius.scss";

// // Layout
@import "../mixins/clearfix.scss";
@import "../mixins/grid-framework.scss";
@import "../mixins/grid.scss";
@import "../mixins/float.scss";




/* MIXIN KEYFRAMES
-------------------------------------------- */
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}
@mixin animation($str) {
  -webkit-animation: #{$str};
}

/* MIXIN BUTTON
-------------------------------------------- */
@mixin btncolor($color, $background, $border, $width) {
    color: $color;
    background-color: $background;
    border-color: $border;
    border-width: $width;

    &:hover {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($border, 5%);
    }

    &:focus{
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 10%);
    }

    &:active{
        color: $color;
        background-color: darken($background, 12%);
        border-color: darken($border, 12%);
    }
}

@mixin btnbordered($color, $background, $border, $width) {
    color: $color;
    background-color: $background;
    border-color: $border;
    border-width: $width;

    &:hover {
        color: lighten($color, 100%);
        background-color: $border;
    }

    &:focus{
        color: lighten($color, 100%);
        background-color: $border;
    }

    &:active{
        color: lighten($color, 100%);
        background-color: $border;
    }
}